body{
   
    left: 0;
    bottom: 0;
    width: 99%;
    background-color:rgb(139, 0, 132);
    color: black;
    text-align: center; 
}
#links {
    width: 90%;
    height: 20%;
   
    padding-top: 3%;
   
}
#links > a:link,a:visited{
    background-color: #a19ff1;
    color: black;
    padding: 25px 45px;
    
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
#link > a:hover{
    transform: scale(1.2);
    letter-spacing: 3px;
    color: white;
}


img{
    
    width: 10%;
    height: 20%;
    padding-left: 5%;
    padding-top: 3%;
    
}
#result {
    
    color: black;
    
    
    display: inline-block;
}

footer{

    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(186, 252, 206);
    color: black;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 200;
}
p{
    font-size: 80%
}